
%h1 Settings for object
= link_to "Back to objects", object_definitions_path
%table
  %tbody
    %tr 
      %th name
      %th query_scope
      %th extensions
    %tr
      %td= @object_definition.name
      %td= @object_definition.query_scope
      %td= @object_definition.extensions.map { |m| m.name }.to_sentence unless @object_definition.extensions.blank?